<html>
    <head>
        <title>Demo</title>
    </head>
    <body>
        <div>
            <button class="more-left" data-action="moreLeft">More Left</button>
            <button class="left" data-action="left"> Left</button>
            <button class="right" data-action="right">Right</button>
            <button class="more-right" data-action="moreRight">More Right</button>
        </div>
        <footer>
            <script src="/static/bundle.js"></script>
        </footer>
    </body>
</html> 