<html>
    <head>
        <title>Demo</title>
    </head>
    <body>
        <div>
            <button class="most-left" data-action="counterClockwiseLarge">Most Left</button>
            <button class="more-left" data-action="counterClockwiseMedium">More Left</button>
            <button class="left" data-action="counterClockwiseSmall"> Left</button>
            <button class="right" data-action="clockwiseSmall">Right</button>
            <button class="more-right" data-action="clockwiseMedium">More Right</button>
            <button class="most-right" data-action="clockwiseLarge">Most Right</button>
        </div>
        <footer>
            <script src="/static/bundle.js"></script>
        </footer>
    </body>
</html> 